.cubetech-icon-slider-container { margin-right: 20px; margin-top: 20px; }

.cubetech-icon-slider { padding: 0; text-align: justify; margin: 0; display: table; table-layout: fixed; width: 100%; }
.cubetech-icon-slider li { display: table-cell; list-style: none; position: relative; text-align: center; box-sizing: border-box; }
.cubetech-icon-slider hr { margin: 0; padding: 0; margin-top: -20px; margin-bottom: 25px; }

.cubetech-icon-slider-icon { padding: 20px 6px 0; }
.cubetech-icon-slider-active {  }
.cubetech-icon-slider-icon p { text-align: center; margin-top: 20px; vertical-align: middle; }
.cubetech-icon-slider-empty { padding: 0; padding-left: 100%; }

.cubetech-icon-slider-content { position: relative; min-height: 250px; }
.cubetech-icon-slider-slide { position: absolute; top: 0; left: 0; width: 100%; display: none; }

.cubetech-icon-slider-thumb-second { display: none; position: absolute; top: 20px; left: 0; right: 0; margin-left: auto; margin-right: auto; }
.cubetech-icon-slider-thumb { position: relative; top: 0; left: 0; right: 0; margin-left: auto; margin-right: auto; }

.cubetech-icon-slider-link { display: inline-block; background: url(../img/cubetech-icon-slider-button.png) no-repeat center center; height: 50px; width: 132px; line-height: 50px; text-align: center; }
.cubetech-icon-slider-link a { color: white; text-decoration: none; display: inline-block; height: 100%; width: 100%; text-align: center; }
.cubetech-icon-slider-link a:hover { color: white; }

@media (max-width: 979px) {
	
	.cubetech-icon-slider-icon { padding: 20px 2px 0; }
	.cubetech-icon-slider-icon p { font-size: 11px; min-height: 40px; display: inline-block; }
	
}